.card-container {
  background-color: #ffffff;
  width: 300px;
  box-shadow: 0px 0px 15px -5px;
  border-radius: 10px;
  justify-content: center;
  text-align: center;
  align-items: center;
  align-content: center;
  order: 1;
}

.card-container:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 15px 0px;
}

img {
  width: 150px;
  height: 150px;
  margin: 10px;
}

.card-text {
}
