.container {
  margin: 0 auto;
  text-align: center;
  padding: 1rem;
  font-family: 'Sintony', Arial, sans-serif;
  font-size: 1rem;
  flex: 1 0 auto;
}

table {
  margin: 0 auto;
  text-align: left;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  box-shadow: 5px 5px 5px rgba(179, 175, 175, 0.6);
  padding-bottom: 0.5rem;
  border-spacing: 0px;
}

th {
  color: white;
  font-size: 1.4rem;
  padding-bottom: 0.5rem;
  background-color: #231f20;
  padding-left: 0.8rem;
}

td {
  font-weight: 500;
  padding-right: 3rem;
  padding-top: 0.5rem;
  padding-left: 1rem;
}

tr {
  padding: 0;
}

@media (max-width: 768px) {
  th {
    padding: 0;
  }
  td {
    padding: 0;
  }
}
