.news-section {
  margin: 0 auto;
  text-align: center;
  padding-top: 1rem;
  font-family: 'Sintony', Arial, sans-serif;
  font-weight: 500;
}

.item-news {
  margin: 1rem;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 5px 5px 5px rgba(179, 175, 175, 0.6);
}

.item-news:hover {
  transform: scale(1.01);
  cursor: pointer;
  box-shadow: 0px 0px 10px 0px;
}
