footer {
    background-color: #231f20;
    color: #d2d2d2;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    overflow: hidden;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.footer-container {
    max-width: 1024px;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
}
